#!/usr/bin/env python
PACKAGE = "road_layout_estimation"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# uncertainty
gen.add("enable_custom_uncertainty", bool_t, 0, "Enable custom uncertainty", False)
gen.add("position_uncertainty", double_t, 0, "Measurement model uncertainty (m)", .05, 0, 2)
gen.add("orientation_uncertainty", double_t, 0, "Measurement model uncertainty (m)", .05, 0, 2)
gen.add("linear_uncertainty", double_t, 0, "Measurement model uncertainty (rad)", .05, 0, 2)
gen.add("angular_uncertainty", double_t, 0, "Measurement model uncertainty (rad)", .05, 0, 2)

# odometry speed
gen.add("enable_custom_twist", bool_t, 0, "Enable custom twist calculation", False)

exit(gen.generate(PACKAGE, "visual_odometry_kitti_viso", "visual_odometry_kitti_viso"))
