<launch>

	<!-- Static transform fixing Viso moving frame axis -->
	<node pkg="tf" type="static_transform_publisher" name="visual_odometry_camera_frame_to_visual_odometry_car_frame"
			 args="0 0 0 0 0 0 visual_odometry_camera_frame visual_odometry_car_frame 100" />

	<!-- Transform from local_map (osm package) to road_layout_estimation fixed frame -->
	<node pkg="tf" type="static_transform_publisher" name="odom_to_visual_odometry_odom_x_forward"
			 args="0 0 0 0 0 0 visual_odometry_odom_x_forward odom 100" />

	<!-- Transform from local_map (osm package) to road_layout_estimation fixed frame -->
	<node pkg="tf" type="static_transform_publisher" name="local_map_to_odom"
			 args="0 0 0 0 0 0 local_map visual_odometry_odom_x_forward 100" />


	<!-- Launch odometry node-->
	<node
		pkg="road_layout_estimation" type="visual_odometry_fake" name="visual_odometry_fake"
		respawn="true"
		output="screen"
	/>

	<!-- Launch road layout estimation node -->
	<node
		pkg="road_layout_estimation" type="road_layout_estimation" name="road_layout_estimation"
		required="true"
		output="screen"
		args="stereo_odometer/odometry"
	/>

	<!-- Launch RViz -->
	<node pkg="rviz" type="rviz" name="rviz" respawn="true"
		args="-d /home/dario/workspace_ros/src/road_layout_estimation/rviz/visual_odometry_test.rviz"
		output="screen"
	/>

	<!-- Launch RQT reconfigure -->
	<node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" />
</launch>
