<launch>
	<!-- Arguments -->
	<arg name="bagfile" default="/home/dario/Desktop/Kitti/kitti_01.bag"/> <!-- Your bagfile here -->
	<arg name="camera" default="/kitti_stereo" /> <!-- The namespace where images are published -->

	<!-- Static transform from Viso fixed frame to our fixed frame-->
	<node pkg="tf" type="static_transform_publisher" name="viso_to_road_layout_estimation" 
		args="0 0 0 0 -1.57 1.57 odom robot_frame 100" />
				
	<!-- Static transform fixing Viso moving frame axis -->
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_car" 
		args="0 0 0 0 -1.57 1.57 base_link car 100" />

	<!-- Transform from local_map (osm package) to road_layout_estimation fixed frame
	<node pkg="tf" type="static_transform_publisher" name="local_map_to_road_layout_estimation" 
		args="static_transform_publisher 0 0 0 0 0 0 local_map robot_frame 100" />-->
	
	<!-- Publishing rate of cameras -->
	<arg name="publish_rate" default="0.2" />

	<param name="/use_sim_time" value="true"/>

	<!-- Launch VISUAL ODOMETRY KITTI-VISO node-->
	<node
		pkg="road_layout_estimation" type="visual_odometry_kitti_viso" name="visual_odometry_kitti_viso"
		required="true"
		output="screen"
	/>
	
	<!-- Launch ROAD LAYOUT ESTIMATION node -->
	<node
		pkg="road_layout_estimation" type="road_layout_estimation" name="road_layout_estimation"
		required="true"
		output="screen"
		args="visual_odometry/odometry"
	/>

	<!-- Run the rosbag -->
	<node pkg="rosbag" type="play" name="rosbag" args="--clock $(arg bagfile) -r $(arg publish_rate) -l"/>

	<!-- Run the ROS package stereo_image_proc -->
	<group ns="$(arg camera)" >
		<node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" />
	</group>

	<!-- Run image stereo viewer + disparity -->
	<node pkg="image_view" type="stereo_view" name="stereo_view">
		<remap from="stereo" to="$(arg camera)"/>
		<remap from="image" to="image_rect"/>
	</node>	

	<!-- Run the viso2_ros package -->
	<node pkg="viso2_ros" type="stereo_odometer" name="stereo_odometer" output="screen">
		<remap from="stereo" to="$(arg camera)"/>
		<remap from="image" to="image_rect"/>
	</node>

	<!-- Launch RViz-->
	<node pkg="rviz" type="rviz" name="rviz" respawn="true"
		args="-d /home/dario/workspace_ros/src/road_layout_estimation/rviz/visual_odometry_kitti_viso.rviz"
		output="screen"
	/>

	<!-- Launch RQT reconfigure -->
	<node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" />
</launch>
