<launch>
	<include file="$(find ira_open_street_map)/launch/kitti_05.launch" />

	<!-- Arguments -->
	<arg name="bagfile" default="/home/limongi/Desktop/Kitti/kitti_05.bag"/> <!-- Your bagfile here -->
	<arg name="camera" default="/kitti_stereo" /> <!-- The namespace where images are published -->
	<arg name="publish_rate" default="0.5" />
	<param name="/use_sim_time" value="true"/>

	<!-- Static transform fixing Viso moving frame axis -->
	<node pkg="tf" type="static_transform_publisher" name="visual_odometry_camera_frame_to_visual_odometry_car_frame" 
		args="0 0 0 0 -1.570796 1.570796 visual_odometry_camera_frame visual_odometry_car_frame 50" />
		
	<!-- Transform from local_map (osm package) to road_layout_estimation fixed frame-->
	<node pkg="tf" type="static_transform_publisher" name="odom_to_visual_odometry_odom_x_forward" 
		args="0 0 0 -1.570796 0 -1.570796 visual_odometry_odom_x_forward odom 50" /> 
	
	<!-- Transform from local_map (osm package) to road_layout_estimation fixed frame -->
	<node pkg="tf" type="static_transform_publisher" name="local_map_to_odom" 
		args="0 0 0 0 0 0 local_map visual_odometry_odom_x_forward 50" />
			<!-- required="true" -->
	<!-- Run the rosbag -->
	<node pkg="rosbag" type="play" name="rosbag" args="--clock $(arg bagfile) -r $(arg publish_rate) --delay=3" />

	<!-- Run the ROS package stereo_image_proc -->
	<group ns="$(arg camera)" >
		<node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" />
	</group>

	<!-- Run the viso2_ros package -->
	<node pkg="viso2_ros" type="stereo_odometer" name="stereo_odometer" output="screen">
		<rosparam param="base_link_frame_id">visual_odometry_camera_frame</rosparam>
		<remap from="stereo" to="$(arg camera)"/>
		<remap from="image" to="image_rect"/>
	</node>

	<!-- Launch RViz
	<node pkg="rviz" type="rviz" name="rviz" respawn="true"
		args="-d /home/limongi/workspace_ros/src/road_layout_estimation/rviz/visual_odometry_kitti_viso.rviz"
		output="screen"
	/>-->

</launch>
