<launch>

        <!-- RLE Parameters -->
        <param name="/road_layout_estimation/resampling_interval"               value="3"/>
        <param name="/road_layout_estimation/particles_number"                  value="10"/>

        <param name="/road_layout_estimation/street_distribution_weight"        value="1"/>
        <param name="/road_layout_estimation/angle_distribution_weight"         value="1"/>
        <param name="/road_layout_estimation/roadState_distribution_weight"     value="1.5"/>


        <!-- ARGUMENTS -->
            <!-- DEFAULT behavior, append bagfile:=kitti_XX to BAG in the command line-->
            <arg name="bagfile" default="kitti_01" />

            <arg name="bagfilewithpath" default="/home/ballardini/Desktop/road_layout_estimation/$(arg bagfile).bag"/>    <!-- Your bagfilewithpath here -->
            <arg name="camera" default="/kitti_stereo" />                                                               <!-- The namespace where images are published -->
            <arg name="publish_rate" default="0.4" />
            <arg name="rviz" default="$(find road_layout_estimation)/rviz/visual_odometry_kitti_viso.rviz" />
            <param name="/use_sim_time" value="true"/>
            <!-- <arg name="map" default="$(find ira_open_street_map)/maps/$(arg bagfile).osm" /> -->
            <arg name="map" default="$(find ira_open_street_map)/maps/2011_10_03_drive_0042_sync.osm" />

            <arg name="play_from_VO" default="true" />      <!-- if you want to autoplay the bag file -->
            <arg name="enable_VO" default="true" />        <!-- if the VO BAGS are used, put FALSE here -->

            <include file="$(find ira_open_street_map)/launch/$(arg bagfile).launch" />


        <!-- STATIC TRANFORMS -->
            <!-- Static transform fixing Viso moving frame axis -->
                <node pkg="tf" type="static_transform_publisher" name="visual_odometry_camera_frame_to_visual_odometry_car_frame"
                        args="0 0 0 0 -1.570796 1.570796 visual_odometry_camera_frame visual_odometry_car_frame 50" />
                <!-- Transform from local_map (osm package) to road_layout_estimation fixed frame-->
                <node pkg="tf" type="static_transform_publisher" name="odom_to_visual_odometry_odom_x_forward"
                        args="0 0 0 -1.570796 0 -1.570796 visual_odometry_odom_x_forward odom 50" />
                <!-- Transform from local_map (osm package) to road_layout_estimation fixed frame -->
                <node pkg="tf" type="static_transform_publisher" name="local_map_to_odom"
                        args="0 0 0 0 0 0 local_map visual_odometry_odom_x_forward 50" />
			
        <!-- ROSBAG PLAY ===== do NOT use the clock option with VO bags! -->
            <node pkg="rosbag" type="play" name="rosbag" args=" $(arg bagfilewithpath) -r $(arg publish_rate) --delay=3 --clock" if="$(arg play_from_VO)" required="true"/>

        <!-- VISUAL ODOMETRY STUFF -->
            <!-- Run the ROS package stereo_image_proc -->
            <group ns="$(arg camera)" >
                    <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" if="$(arg enable_VO)"/>
            </group>
            <!-- Run the viso2_ros package -->
            <node pkg="viso2_ros" type="stereo_odometer" name="stereo_odometer" output="screen" if="$(arg enable_VO)" required="true">
                    <rosparam param="base_link_frame_id">visual_odometry_camera_frame</rosparam>
                    <remap from="stereo" to="$(arg camera)"/>
                    <remap from="image" to="image_rect"/>
            </node>
            <!-- Run image stereo viewer + disparity
            <node pkg="image_view" type="stereo_view" name="stereo_view">
                    <remap from="stereo" to="$(arg camera)"/>
                    <remap from="image" to="image_rect"/>
            </node>	 -->

        <!-- OSM QUERY NODE -->
            <node
                    pkg="ira_open_street_map"
                    type="osm_query_node"
                    name="osm_query_node"
                    output="screen"
                    args="$(arg map)"
                    clear_params="true"
            />


        <!-- Launch ROAD LAYOUT ESTIMATION node -->
	<node
                pkg="road_layout_estimation" type="road_layout_estimation" name="road_layout_estimation"
                required="true"
		output="screen"
                args="/stereo_odometer/odometry $(arg bagfile)"
                clear_params="true"
        />

        <!-- VISUALIZATION STUFF -->
            <!-- Launch RViz-->
            <node pkg="rviz" type="rviz" name="rviz"
                    args="-d $(arg rviz)"
                    output="screen"
            />

        <!-- Launch FAKE ROADSTATE DETECTOR-->
        <node
            pkg="road_layout_estimation" type="roadStateComponent_fake" name="roadStateComponent_fake"
            required="true"
            output="screen"
            clear_params="true"
        />

        <!-- Launch RQT reconfigure
        <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" respawn="true"/> -->

        <!-- Launch ROAD LANE DETECTOR
            <node
                    pkg="road_lane_detection" type="bev_lane_detection_node" name="bev_lane_detection_node"
                    required="true"
                    output="screen"
                    clear_params="true"
            />-->

</launch>
